%h1 Top10 Animes

-# anime list
%table.table.table-striped
  %thead
    %tr
      %th
      %th
      %th Name
      %th.hidden-xs Target Audience
      %th.hidden-xs Genres
      %th.text-center.hidden-xs Episodes
      %th.text-center.hidden-xs Finished
      %th.hidden-md.hidden-sm.hidden-xs Comment
      %th.text-center.hidden-xs # Rated
      %th.text-center.hidden-xs Ø Rating
      - if user_signed_in?
        %th.text-center.hidden-xs My Rating
   
  %tbody
    - @animes.each_with_index do |anime, index|
      = render 'top10', anime: anime, index: index
