<h1>Top10 Animes</h1>

<!-- anime list -->
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Genres</th>
      <th class='centered'>Episodes</th>
      <th class='centered'>Finished</th>
      <th>Description</th>
      <th class='centered'>Rating (1... 10)</th>
      <th class='action'></th>
    </tr>
  </thead>

  <tbody>
    <%= render @animes %>
  </tbody>
</table>