<h1>Top10 Animes</h1>

<!-- anime list -->
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Genres</th>
      <th class='text-center'>Episodes</th>
      <th class='text-center'>Finished</th>
      <th>Description</th>
      <th class='text-center'>Average Rating</th>
      <% if user_signed_in? %>
        <th class='text-center'>Your Rating</th>
        <th class='action'></th>
      <% end %>      
    </tr>
  </thead>

  <tbody>
    <% @animes.each do |anime| %>
      <%= render 'top10', anime: anime %>
    <% end %>
  </tbody>
</table>