.letter-list {
  margin-top: 15px;
}

.anime-list-header {

  .genre-select label {
    float: left;
    margin-right: 10px;
    margin-bottom: 0;

    &:after{
      content: "";
      clear: both;
    }
  }
}

.anime-list-body {

  tr td {
    vertical-align: middle !important;
  }

  .ratings {
    width: 100px;
  }

  .actions {
    width: 50px;
    a {
      display: block;
      width: 25px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
