.letter-list {
  margin-top: 15px;
}

.set-sort-queries {
  margin-top: 14px;
  margin-left: -20px;
}

.genre-select label {
  float: left;
  margin-right: 10px;
  margin-bottom: 0;

  &:after{
    content: "";
    clear: both;
  }
}

.anime-list-body tr td {
  vertical-align: middle !important;
}

.genres {
  width: 10%;
}

.actions {
  width: 4%;
  a {
    display: block;
    width: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}
