.letter-list {
  margin-top: 15px;
}

.genre-select label {
  float: left;
  margin-right: 10px;
  margin-bottom: 0;

  &:after{
    content: "";
    clear: both;
  }
}

.anime-list-body tr td {
  vertical-align: middle !important;
}
