.navigation-header
  %ul.nav.nav-pills
    %li{role: "presentation", class: (@section == 'animes' ? 'active' : 'inactive')}
      = link_to 'Animes', animes_path
    %li{role: "presentation", class: (@section == 'top10' ? 'active' : 'inactive')}
      = link_to 'Top10', top10_path

    - if user_signed_in?
      %li{role: "presentation", class: (@section == 'users' ? 'active' : 'inactive')}
        = link_to 'Users', users_path
